.outerBox{
    margin-top: 100px;
    margin-right: 500px;
    margin-left: 500px;
}

.header{
    font-weight: bold;
    text-decoration-line: underline;
}

.box{
    border: 2px solid gray;
    padding: 10px;
}